:root {
  --background-color: #f4f9f9;
  --button-color: #25cb23;
}

body,
html {
  height: 100%;
  background-color: var(--background-color);
}

h1 {
  font-family: "Old Standard TT", serif;
  font-size: 7vw;
}

.btn-block {
  border-radius: 0;
  border-color: var(--button-color);
  background-color: var(--button-color);
  color: black;
}

.logo {
  width: 15vw;
}

.banner {
  background-image: url("/media/home/happy-jam.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100vh;
}
